<div class="page createPlace" ng-cloak>
    <div class="header">
        <div class="left-side">
            <div class="icon-button icon-back icon-normal icon-inline" ng-click="backButtonClicked()"></div>
        </div>
        <div class="middle centered"><h1 class="page-title">{{"nps.title" | i18n}}</h1></div>
    </div>
    <div class="content with-margins scroll-y no-scroll-x">
        <p>{{"nps.score" | i18n}}</p>
        <div class="scoreWrapper" >
            <div ng-repeat="score in scores" class="button primary verySmall"  ng-class="getCSSForScore(score)" ng-click="setScore(score)">{{ score }}</div>
        </div>
        <textarea class="full-width big" placeholder="{{'nps.reason' | i18n}}" ng-model="comments"></textarea>
        <div>
            <div class="button primary full-width bottom-margin" ng-click="send()" >{{"nps.submit" | i18n}}</div>
            <div class="button primary full-width bottom-margin" ng-click="askMeLater()" >{{"nps.askMeLater" | i18n}}</div>
            <div class="button primary full-width" ng-click="neverAskMeAgain()" >{{"nps.neverAskMeAgain" | i18n}}</div>
        </div>

    </div>

</div>

