<div class="page signup" ng-cloak>

    <div class="contentRow overlayBothButtons scroll-y no-scroll-x">

        <button class="button primary full-width reset-margins bottom-margin" ng-click="startSignupFlow()">{{"welcomePage.welcomePageSignup" | i18n}}</button>
        <button class="button primary full-width reset-margins bottom-margin" ng-click="startLoginFlow()">{{"welcomePage.welcomePageLogin" | i18n}}</button>
        <button class="button primary full-width reset-margins bottom-margin" ng-click="enterVerificationCode()">{{"welcomePage.enterVerificationCode" | i18n}}</button>
        <button class="button primary full-width reset-margins bottom-margin" ng-click="changeLanguage()">{{"welcomePage.changeLanguage" | i18n}}</button>
        <button class="button primary full-width reset-margins" ng-click="problemsSigningUp()">{{"welcomePage.problemsSigningUp" | i18n}}</button>

        <div style="margin-top: 20px;">
            <h1>{{"welcomePage.welcome" | i18n}}</h1>
            <p>{{"welcomePage.welcomePageText.p1" | i18n}}</p>
            <p>{{"welcomePage.welcomePageText.p2" | i18n}}</p>
        </div>
    </div>
</div>